.checkbox{
    display:flex;
    flex-direction: column;
    font-size: 13px;
    align-items: flex-start;
    margin-left: 5px;

}
.checkbox__checkbox1,
.checkbox__checkbox2,
.checkbox__checkbox3{

        font-size: 13px;

    }

