*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  background-color:antiquewhite;
 
  
}
.header{
  text-align: center;
  text-shadow: 3px;
  text-decoration: wavy;
}
.app__frame-main{
  text-align: center;
  height: max-content;
  width:max-content;
  // border: 2px solid black;
}

.app__frame{
    // display:inline-block;
    display:flex; 
    // border-top: 2px solid black;

&__nav-side{
        font-size:30px;
        // height: 100vh;
        width:18vw;
        border: 2px solid black;
        
        
      }
&__main{
        font-size:30px;
        // background-color:green;
        height: 100vh;
        width:max;
        // border: 2px solid black;
      }

    }





// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
